html{
    background-color: #dcd5cf;
}

a{
    text-decoration: none; /* remove o sublinhado dos links */
}

header{
    background:url(../images/fundo1.png);
    margin: 0px 0px 0px 0px;
}

header nav{
    display: flex; 
    justify-content: space-between;
    padding: 5vw 10vw 5vw 10vw;
     align-items: center;
     

& ul {
    display: flex;
   
}
& li {
    margin: 0px 10px 0px 10px;
}

& a{
     color: rgb(255, 217, 167);
}
}
header span h1{
color: #fbf7ba;
   margin: 20px 80px;
    font-size: 5vw;

}
header p button{
   background-color: #1b0a02;
color: #7f7e5c;
padding:30px 50px 30px 50px;
margin: 4vw 4vw;
 
}

section.introducao h2{
    font-size: 3vw;
    margin: 50px 80px;
}

section.introducao p{

    

}
